*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg,  #030009, #000041);
    color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-start;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-evenly;
}

.login-btn{
    justify-content: flex-end;
    padding: 8px 16px;
    background-color: transparent;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover{
    background-color: #ccc;
    color: #000;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s ease;
}


.nav-links a:hover{
    color: #ccc;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
}

.content{
    max-width: 30vw;
}

.image{
    width: 60vh;
    height: auto;
}

img{
    width: 35dvw;
    height: auto;
}

.booking-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 24px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.booking-btn:hover{
    background-color: #ccc;
    color: #000;
}


@media (max-width: 600px) {
    .nav-links{
        display: none;
    }

    .navbar{
        padding: 20px 16px;
    }
    .main{
        flex-direction: column;
        text-align: center;
    }
    .content{
        max-width: 100vw;
        margin-bottom: 20px;
        text-align: flex-start;
    }
    .image{
        max-width: 90vw;
        height: auto;
    }
    img{
        width: 75vw;
        height: auto;
    }

}